

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: 10px;
  }
  
  /* mat-form-field {
    width: auto;
    height: 60px;
  } */

  .toggle-group {
    margin-bottom: 20px;
  }

